<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.how2java.mapper.UserMapper">
    <resultMap id="userInfoResultMap" type="com.how2java.pojo.User">
        <id column="User_id" property="userid"></id>
        <result column="User_name" property="username"></result>
        <result column="User_phone" property="userphone"></result>
        <result column="User_pwd" property="uerpwd"></result>
        <result column="User_role" property="userrole"></result>
    </resultMap>
    <select id="login"  resultMap="userInfoResultMap">
        select * from user where User_name=#{username} and User_pwd=#{uerpwd}
    </select>
</mapper>